/* styles.css */

body {
  font-family: 'Poppins', sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .spacer-top {
    margin-top:1rem;
  }
  .main_app {
    padding: 20px;
    background:#efefef;
    margin-top:1rem;
    border-radius: 5px;
  }